<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated clicker_Generator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="clicker_Generator.presentation.Clicker_GeneratorModelWizardID"
            name="%_UI_Clicker_GeneratorModelWizard_label"
            class="clicker_Generator.presentation.Clicker_GeneratorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Clicker_GeneratorModelFile.gif">
         <description>%_UI_Clicker_GeneratorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated clicker_Generator -->
      <editor
            id="clicker_Generator.presentation.Clicker_GeneratorEditorID"
            name="%_UI_Clicker_GeneratorEditor_label"
            icon="icons/full/obj16/Clicker_GeneratorModelFile.gif"
            extensions="clicker_generator"
            class="clicker_Generator.presentation.Clicker_GeneratorEditor"
            contributorClass="clicker_Generator.presentation.Clicker_GeneratorActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="clicker_Generator.presentation.MyClickerGeneratorGenerationHandler"
            commandId="Clicker_Generator.editor.command1">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="clicker_generator">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Clicker_Generator.editor.command1"
            name="GeneratorCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?endof=group.edit">
         <command
               commandId="Clicker_Generator.editor.command1"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
